/* The start of the Testing.html */
#logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
}

.index-category{
width: 100%; 
padding: 20px 0;
background-color: grey;
border: 10px solid yellow;
column-gap: 40px;
display: flex;
justify-content: center;
align-content: center;
}

.index-category-box{
width: 400px;
height: 200px;
background-color: black;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
}

.index-category-box:nth-child(1) {
   background-image: url(/Photos/6\ street\ logo.jpg);
   background-position: center;
   

}
.index-category-box:nth-child(2) {
   background-image: url(/Photos/Districts-removebg-preview.png);
   background-position: center;
}

.index-category-box:nth-child(3) {
   background-image: url(/Photos/background\ japan\ town.png);
   background-position: center;
}
.index-category-box:nth-child(4) {
   background-image: url(/Photos/Corporations_Database_CP2077.jpg);
   background-position: center;
}
.index-category-box-h3{
font-size: 18px;
line-height: 10px;
}

#Lore{
background-color: rgb(39,41,50);
color: aliceblue;
font-weight: 10px;
padding: 10px;
text-align: center;
background-image: url(/Photos/Back\ in\ black.webp);
}

a{
color: aliceblue;
text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
align-items: center;
}

h2{
text-align: center;

}



/* The start of the gang.html  */

#background{
background-color:black ;
color: aliceblue;
}


.uniforms{
width: 100%;
padding: 10px;
border: 10px solid yellow; 
column-gap: 10px;
display: flex;
}


.Patches{
display:flex;
justify-content: center;

}
.Backgroundcolour{
background-color: rgb(39,41,50);
padding: 3px; /* Add some padding around the text */
word-spacing:;




}