
#logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
}

.index-category{
width: 98%; 
padding: 20px 0;
background-color: grey;
border: 10px solid yellow;
column-gap: 10px;
display: flex;
}



.index-category-box{
width: 350px;
height: 200px;
background-color: black;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
}

.index-category-box:nth-child(1) {
   background-image: url(/Photos/6\ street\ logo.jpg);
   background-position: center;

}
.index-category-box:nth-child(2) {
   background-image: url(/Photos/Districts-removebg-preview.png);
   background-position: center;
}

.index-category-box:nth-child(3) {
   background-image: url(/Photos/Background.jpg);
   background-position: center;
}
.index-category-box:nth-child(4) {
   background-image: url(/Photos/Arasaka.png);
   background-position: center;
}
.index-category-box-h3{
font-size: 18px;
line-height: 10px;
}

#Lore{
background-color: rgb(39,41,50);
color: aliceblue;
font-weight: 10px;
padding: 10px;
justify-self: center;
align-self:center;
}

a{
color: aliceblue;
text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
text-align: center;
}

